doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		include scripts.pug
		title Privileges
	body 
		a(href="/home/privileges").block.text-4xl.text-center Privileges
		div(id="modal" class="modal")
		form(action="/home/privileges" method="GET" id="form-select-page")
			input(name="page" value="0" hidden)
			label
				span Size 
				select(name="limit" onChange=`$("#form-select-page").submit()` class="w-20 border my-3")
					option(value="10") 10
					option(value="20") 20
					option(value="30") 30
		table.table-auto.border-collapse.w-full
			tr
				th.border
				th.border Privileges is system
				th.border Users
			- for (let i=0; i< privileges.length;i++)
				tr
					td.border=i+1
					td.border=privileges[i][0]
					td.border
						a(href="#" class="text-blue-600 hover-underline user-by-privilege" privilege=privileges[i][0]) View users in this privilege

		.mt-5.flex.justify-center 
			- for (let i = 0;i < Math.round(total / limit);i++)
				a(href=`/home/privileges?page=${i}&limit=${limit}` class="text-blue-600 hover:underline mx-2")=i

		script(type="text/javascript").
			$(function(){
				$(".user-by-privilege").click(function (e) {
					const privilege = ($(this).attr("privilege"))
					loadHtml(`/privileges/${privilege}/users`, $("#modal"))	})
			})
			